
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    
</head>

<body >
    
    <div class="parent">
        <header >
            <div class = 'nav'>
                <div id="register-button"><a class="button-42" href = '/'>Register</a></div>
                <div id="login-button"><a class="button-42" href = '/login'>Login</a></div>
                <div id="logout-button" class="button-42">Logout</div>
            </div>
        </header>
        <div class="left-side">
            
        </div>
        <main class="">
            <div id = "content">
                
                {% block content %}
    
                {% endblock %}
            </div>
        </main>

        <div class="right-side">
            
        </div>
        <footer></footer>
    </div>
    <script>
        const pathName = window.location.pathname.substring(1)
        if(pathName === "login" ) {
            document.getElementById("register-button").style.display = "block"
            document.getElementById("login-button").style.display = "none"
            document.getElementById("logout-button").style.display = "none"
        }
        if(!pathName) {
            console.log("jkbefwkjlbsjfklb")
            document.getElementById("logout-button").style.display = "none"
            document.getElementById("login-button").style.display = "block"
        }
        if(pathName === "home") {
            document.getElementById("login-button").style.display = "none"
            document.getElementById("register-button").style.display = "none"
        }
        console.log(window.location.pathname.substring(1))
    </script>
    {% block script %}
    {% endblock %}
</body>