
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    
</head>

<body >
    
    <div class="parent">
        <header >
            <div class = 'nav'>
                <div ><a class="button-42" href = '/auth'>Home</a></div>
                <div ><a class="button-42" href = '/auth'>About</a></div>
                <div class="button-42" id="logoutButton" >Logout</div>
            </div>
        </header>
        <div class="left-side">
            
        </div>
        <main class="">
            <div id = "content">
                {% block content %}
    
                {% endblock %}
            </div>
        </main>

        <div class="right-side">
            
        </div>
        <footer></footer>
    </div>
    
    {% block script %}
    {% endblock %}
</body>