{% extends 'base.html' %}

{% block script %}
<script defer>
    
    const button = document.querySelector('#logout-button');
    console.log(button);
    button.addEventListener('click', (e) => {
        console.log("Logged out");
        e.preventDefault();
        logoutUser().then(
            (data) => {
                console.log("Logged out");
                window.location.href = "login";
            }
        );
    });
    async function logoutUser(){
            var data = {
                
                }
            
            var token = '{{csrf_token}}';
                try{
                    const response = await fetch('api/logout', {
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            'Content-Type': 'application/json',
                            "X-CSRFToken": token

                        }
                    });
                    var res =  await response.json();
                    return res;
                }
                catch(err){
                    console.log(err);
                }
        }
    setInterval(()=>
    {   
        refreshToken().then(
            (data) => {
                console.log("Refreshed");
            }
        );
    }, 60000-500);
    async function refreshToken(){
        console.log("Refreshing");
            var data = {
                
                }
            
            var token = '{{csrf_token}}';
                try{
                    const response = await fetch('api/refresh', {
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            'Content-Type': 'application/json',
                            "X-CSRFToken": token

                        }
                    });
                    var res =  await response.json();
                    return res;
                }
                catch(err){
                    console.log(err);
                }
        }
    
</script>
{% endblock %}

{% block content %}
    
<div style="position: relative; height: 20vh; width: fit-content; background-color:#8bc2eb;padding: 2vh;" class="div-section">
        <div class = "home-container">

            <h1> Home {{name}}</h1>
            <p>IP : {{ip}}</p>
            <p>Port : {{port}}</p>
            <a href="http://{{ip}}:{{port}}/vnc.html"><button>Connect</button></a>
            
            
        </div>
    </div>
{% endblock %}