{% extends 'base.html' %}

{% block script %}
<script defer>
    const name = document.querySelector('#username');
    const email = document.querySelector('#email');
    const password = document.querySelector('#psw'); 
    const form = document.querySelector('#registerForm');
    
    form.addEventListener('submit', (e) => {
        console.log("Submitted");
        e.preventDefault();
        isFormValid = validateForm();
        if(isFormValid){

            (registerUser(name,email,password)).then(
                (data) => {
                    window.location.href = "login";
                }
            );
        }
    });
    function validateForm() {
        var w = document.forms["registerForm"]["username"].value;
        var x = document.forms["registerForm"]["email"].value;
        var y = document.forms["registerForm"]["psw"].value;
        var z = document.forms["registerForm"]["psw1"].value;
        console.log(x,y,z);
        if (y != z) {
            alert("Both Passwords must be same");
            return false;
        }
        return true;
    }
    async function registerUser(name,email,password){
            var data = {
                "name": name.value,
                "email": email.value,
                "password": password.value
                }
            console.log(data);
            var token = '{{csrf_token}}';
                try{
                    const response = await fetch('api/register', {
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            'Content-Type': 'application/json',
                            "X-CSRFToken": token

                        }
                    });
                    var res =  await response.json();
                    return res;
                }
                catch(err){
                    console.log(err);
                }
        }
    

</script>
{% endblock %}

{% block content %}
    
    <section>
        <div class = "form-container">
            <h1> Register</h1>
            <form name="registerForm" id ="registerForm">
                {% csrf_token %}
                {{ form.as_p }}
                <div class = "control">
                    <label for = "username"> Username </label>
                    <input type = "text" name = "username" id = "username" placeholder = "Enter your username" required>
                </div>
                <div class = "control">
                    <label for = "email"> Email </label>
                    <input type = "email" name = "email" id = "email" placeholder = "Enter your Email" required>
                </div>
                <div class = "control">
                    <label for = "password"> Password </label>
                    <input type = "password" name = "psw" id = "psw" placeholder = "Enter your password" required>
                </div>
                <div class = "control">
                    <label for = "password"> Re-Enter Password </label>
                    <input type = "password" name = "psw1" id = "psw1" placeholder = "Enter your password again" required>
                </div>
                
                <div class = "control" id="app-login">
                    <input type = "submit" value="Register"/> 
                </div>
            </form>
           
        </div>
    </section>
{% endblock %}
